.Rproj.user
.Rhistory
.RData
EnrollmentTrends.jpeg
RegentsDB.csv
all_enrollments_ever.csv
as_of_nov_10_2015.jpeg
plot1.png
plot2.png
plot3.png
sandbox.R
PassRates.csv
ElaPI.csv
MathPI.csv
PasteThisIntoTheWorkBook.csv
PerformanceIndexForAcct.csv
PerformanceIndexForAcct.xlsx
PowerSchoolRegents.csv
PowerSchoolStudents.csv
ScoresAndSessionsForStudentsWithScoreIssues.csv
ScoresInPowerSchoolButNowhereElse.csv
ScoresInPowerSchoolButNowhereElse.xlsx
ScoresMissingFromDataBase.csv
ScoresMissingFromPowerSchool.csv
Total Cohort - Detail (1).xlsx
creditOutput.csv
credits.csv
enrollments.csv
seniorInitiative.csv
workbook.csv
seniorInitiative.xlsx
Enrollment trends.png
CurrentStudents.csv
PowerSchoolAll.xlsx
ccTable1415.xlsx
offtrack.csv
workbookproblems.csv
.httr-oauth
F2grades.xlsx
asapExports.xlsx
bioStudentCourseAssignments.csv
bioStudentCourseAssignments.xlsx
graduates.csv
math course assignments.csv
student math course assignments for Fall 2017.xlsx
*SAT_Scores.csv
CSIAccountabilityWkbk.Rproj
2016_credits.csv
2012_credits.csv
2011_credits.csv
2013_credits.csv
2014_credits.csv
2015_credits.csv
exited_students_who_still_have_classes.csv
missingCoreClasses.csv
